.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: grey;
}

.main-content {
  flex-direction: row;
  flex-grow: 10;
  min-height: 100%;
  background-color: blue;
}